.container{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: 
  '. green green green green'
  '. blue blue blue blue'
  '. red red red red'
  '. purple purple purple purple'
  '. . . . arrow';
}

.green{
  grid-area: green;
  background-color: green;
}

.blue{
  grid-area: blue;
  background-color: blue;
}

.red{
  grid-area: red;
  background-color: red;
}

.purple{
  grid-area: purple;
  background-color: purple;
}


i {
  grid-area: arrow;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.rightarrow{
  grid-area: arrow;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.shadow{
  opacity: 0.5;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: black;
  transition: all .75s ease;
}
.noshadow{
  opacity: 0;
}


.select{
  width: 100px;
}

.slider{
  border: 1px solid black;
  position:fixed;
  padding:72px;
  margin:0;
  top:0;
  left:0;
  display: flex-row;
}

body {
  margin: 1em;
}

a {
  text-decoration: none;
  background: #eee;
  padding: .5em;
  margin-bottom: 1em;
  display: inline-block;
}

.box {
  display: block;  
  background: lightblue;
  margin-bottom: 1em;
}

.fade-in {
  height: 150px;
  width: 1px;
  opacity: 0;
  height: 100vh;
  transition: all .75s ease;
}

.fade-inShow {
  opacity: 1;
  height: 150px;
  width: 500px;
  height: 100vh;
  transition: all .75s ease;
}
